@font-face {
  font-family: 'ACaslon-Pro';
  src:url('ACaslonPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ACaslon-Pro';
  color: #363636;
}

.title {
  text-align: center;
  font-family: 'ACaslon-Pro';
  letter-spacing: .03em;
  margin-top: 1em;
  margin-bottom: 0px;
}

.tagline {
  text-align: center;
  letter-spacing: .1em;
  margin-top: .5em;
  color: #414141;
  margin-bottom: .8em;
}

#faces {
  margin-top: 2em;
}

.images {
  width: 140px;
  height: 140px;
  margin: none;
  float: left;
}

form {
  width:500px;
  align-content: center;
}

.search {
  width:200px;
  padding:8px 15px;
  background: #fff;
  border:1px solid #363636;
}

.links {
  text-decoration: none;
}

/*.button {
  left:-8px;
  border:2px solid #fff;
  background-color:#fff;
  color:#363636;
}

.button:hover  {
  color:#660066;
}*/

input:focus {
    outline:none;
}

.load {
  width: 140px;
  height: 140px;
  text-align: center;
  font-family: 'Helvetica';
  background: #2E2E2E;
  color: #fff;
  border: none;
  font-weight: 300;
  margin-bottom: 4em;
}

#locale{
  font-weight: lighter;
  font-family: 'ACaslon-Pro';
  margin-left: 47px;
  margin-bottom: -15px;
  font-size: 14px;
  margin-top: 20px;
  color: #414141;
}

#empty {
  margin-top: 5em;
}