@font-face {
  font-family: 'ACaslon-Pro';
  src:url('ACaslonPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ACaslon-Pro';
  color: #363636;
  margin: 0;
}

a {
  color: #363636;
}

.title {
  display: block;
  font-family: 'ACaslon-Pro';
  letter-spacing: .03em;
  margin-top: .5em;
  margin-left: 1em;
  margin-bottom: 0px;
  float: left;
}

.tagline {
  display: block;
  float: left;
  letter-spacing: .1em;
  margin-top: 1.47em;
  color: #414141;
  margin-left: 1em;
}

#faces {
  /*padding-top: 4em;*/
}

.images {
  width: 140px;
  height: 140px;
  margin: none;
  float: left;
  cursor: pointer;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 1em;
  z-index: 0;
}

form {
  width:500px;
  align-content: center;
}

.search {
  width:200px;
  padding:8px 15px;
  background: #fff;
  border:1px solid #363636;
  float: right;
}

#search {
  float: right;
  margin-right: 2em;
  margin-top: .6em;
}

.links {
  text-decoration: none;
}

/*.button {
  left:-8px;
  border:2px solid #fff;
  background-color:#fff;
  color:#363636;
}

.button:hover  {
  color:#660066;
}*/

input:focus {
    outline:none;
}

.load {
  width: 140px;
  height: 140px;
  text-align: center;
  font-family: 'Helvetica';
  background: #2E2E2E;
  color: #fff;
  border: none;
  font-weight: 300;
  margin-bottom: 4em;
}

.header {
  padding-top: 1em;
}

#locale{
  font-weight: lighter;
  font-family: 'ACaslon-Pro';
/*  margin-left: 47px;
  margin-bottom: -15px;
  font-size: 14px;
  color: #414141;*/
  padding-top: 4em;
}

#empty {
  margin-top: 5em;
}

#gif {
  display: none;
}

#shade {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    display: none;
    z-index: 1;
}

#aGif {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}